<div class="row pricing-tables">
    <div class="col-md-12">
        <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="icon">
                <i class="lnr lnr-rocket"></i>
            </div>
            <div class="pricing-details">
                <h2>Your Reservation</h2>
                <span></span>
                <ul>
                    {{#unless user}}
                        <li><a href="/">No reservation found.  Click here to start over.</a></li>
                    {{/unless}}
                    {{#if user}}
                        <li>Name: {{user.firstName}} {{user.lastName}}</li>
                        <li>Date: {{user.preferedDate}}</li>
                        <li>Time: {{user.TimeID}}</li>
                        <li>Email: {{user.email}}</li>
                        <li>Address: {{user.address}}</li>
                        <li>         {{user.city}}, {{user.state}} {{user.zip}}</li>
                        <li>Phone Number: {{user.phoneNumber}}</li>
                        <li>Party Size: {{user.groupSize}}</li>
                    {{/if}}

                </ul>
            </div>
        </div>
    </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/search.js"></script>