<div class="row pricing-tables">
    <div class="col-md-12">
        <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="icon">
                <i class="lnr lnr-rocket"></i>
            </div>
            <div class="pricing-details">
                <h2>Timeslot: {{user.dataValues.TimeId}}</h2>
                <span></span>
                <ul>
                    {{#unless user}}
                        <li><a href="/">No reservations found.  Click here to start over.</a></li>
                    {{/unless}}
                    {{#if user}}
                        {{#each user}}
                            <li>Name: {{firstName}} {{lastName}}</li>
                            <li><a href="/user/reservation/{{email}}">Email: {{email}}</a></li>
                            <li>Phone Number: {{phoneNumber}}</li>
                            <li>Party Size: {{groupSize}}</li>
                        {{/each}}
                    {{/if}}
                </ul>
            </div>
        </div>
    </div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/timesearch.js"></script>